<%# FORM %>
<div class="relative h-[80vh] px-4 md:px-8">
  <!-- Background Image -->
  <div class="absolute inset-0 bg-cover bg-[40%]" style="background-image: url(<%= asset_path('focus.webp') %>);"></div>

  <!-- Dark Overlay -->
  <div class="absolute inset-0 bg-black opacity-60"></div>

  <!-- Content -->
  <div class="relative flex flex-col justify-center md:flex-row h-full text-white">
    <!-- Left blank space -->
    <div class="hidden md:block md:w-1/2"></div>

    <!-- Right content -->
    <div class="flex flex-col justify-center items-left w-full md:w-1/2 px-4 md:px-8 lg:px-12">
      <h1 class="text-4xl font-bold mb-8">Contattami</h1>
      <%= form_with model: @submission, class: "w-full max-w-lg" do |form| %>
        <div class="space-y-2 w-full">
          <!-- Full Name Field -->
          <div class="form-control">
            <%= form.label :full_name, class: "label justify-start pb-2" do %>
              <span class="label-text text-base font-semibold text-lg">Nome Completo</span>
            <% end %>
            <%= form.text_field :full_name,
                                class: "input input-bordered w-full bg-white/5 backdrop-blur-md border-white/20 text-white placeholder-white/50 focus:border-white focus:bg-white/10 focus:outline-none transition-all duration-200",
                                placeholder: "Mario Rossi", required: true %>
          </div>
          <!-- Email Field -->
          <div class="form-control">
            <%= form.label :email, class: "label justify-start pb-2" do %>
              <span class="label-text text-base font-semibold text-lg">Email</span>
            <% end %>
            <%= form.email_field :email,
                                 class: "input input-bordered w-full bg-white/5 backdrop-blur-md border-white/20 text-white placeholder-white/50 focus:border-white focus:bg-white/10 focus:outline-none transition-all duration-200",
                                 placeholder: "emailesempio@email.com", required: true %>
          </div>
          <!-- Message Field -->
          <div class="form-control">
            <%= form.label :message, class: "label justify-start pb-2" do %>
              <span class="label-text text-base font-semibold text-lg">Messaggio</span>
            <% end %>
            <%= form.text_area :message,
                               class: "textarea textarea-bordered w-full h-32 bg-white/5 backdrop-blur-md border-white/20 text-white placeholder-white/50 focus:border-white focus:bg-white/10 focus:outline-none transition-all duration-200 resize-none",
                               placeholder: "Scrivi qui il tuo messaggio...", required: true %>
          </div>
          <!-- Submit Button -->
          <div class="pt-2">
            <%= form.submit "Contatta Piertutor!",
                            class: "btn w-full" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>