<%# FORM %>
<div class="relative h-[80vh] px-4 md:px-8">
  <!-- Background Image -->
  <div class="absolute inset-0 bg-cover bg-[40%]" style="background-image: url(<%= asset_path('driving.jpg') %>);"></div>

  <!-- Dark Overlay -->
  <div class="absolute inset-0 bg-black opacity-60"></div>

  <!-- Content -->
  <div class="relative flex flex-col justify-center md:flex-row h-full text-white">
    <!-- Left blank space -->
    <div class="hidden md:block md:w-1/2"></div>

    <!-- Right content -->
    <div class="flex flex-col justify-center items-left w-full md:w-1/2 px-4 md:px-8 lg:px-12">
      <h1 class="text-4xl font-bold mb-8">Crea un prodotto</h1>
      <%= form_with model: @affiliate_product, class: "w-full max-w-lg" do |form| %>
        <div class="space-y-2 w-full">
          <!-- Full Name Field -->
          <div class="form-control">
            <%= form.label :title, class: "label justify-start pb-2" do %>
              <span class="label-text text-base font-semibold text-lg">Titolo</span>
            <% end %>
            <%= form.text_field :title,
                                class: "input input-bordered w-full bg-white/5 backdrop-blur-md border-white/20 text-white placeholder-white/50 focus:border-white focus:bg-white/10 focus:outline-none transition-all duration-200",
                                placeholder: "DJI Osmo Pocket 3", required: true %>
          </div>
          <!-- Affiliate URL -->
          <div class="form-control">
            <%= form.label :affiliate_url, class: "label justify-start pb-2" do %>
              <span class="label-text text-base font-semibold text-lg">Link Affiliato</span>
            <% end %>
            <%= form.text_field :affiliate_url,
                                class: "input input-bordered w-full bg-white/5 backdrop-blur-md border-white/20 text-white placeholder-white/50 focus:border-white focus:bg-white/10 focus:outline-none transition-all duration-200",
                                placeholder: "https://amzn.eu/d/8aD...", required: true %>
          </div>
          <!-- Image URL -->
          <div class="form-control">
            <%= form.label :image_url, class: "label justify-start pb-2" do %>
              <span class="label-text text-base font-semibold text-lg">Link Immagine (prendi da Amazon)</span>
            <% end %>
            <%= form.text_field :image_url,
                                class: "input input-bordered w-full bg-white/5 backdrop-blur-md border-white/20 text-white placeholder-white/50 focus:border-white focus:bg-white/10 focus:outline-none transition-all duration-200",
                                placeholder: "https://m.media-amazon.com/images/I/81phR....", required: true %>
          </div>
          <!-- Submit Button -->
          <div class="pt-2">
            <%= form.submit "Crea prodotto",
                            class: "btn w-full" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>