<!DOCTYPE html>
<html lang="it">
  <head>
    <title><%= content_for(:title) || "Piertutor" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= render 'application/favicon' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "67d108b845b045c39e0520f65d6c3c49"}'></script>
    <!-- End Cloudflare Web Analytics -->

    <!-- Google Fonts -->
    <link rel="preload" href="https://fonts.googleapis.com">
    <link rel="preload" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- End Google Fonts -->
  </head>

  <body class="bg-black">
    <div class="fixed bottom-6 inset-x-0 flex flex-col items-center space-y-2 z-50">
      <% flash.each do |type, message| %>
        <% next if message.blank? %>

        <% css_class =
          case type.to_sym
          when :success then "bg-green-600 text-white"
          when :notice  then "bg-blue-600 text-white"
          when :error   then "bg-red-600 text-white"
          else "bg-gray-700 text-white"
          end
        %>

        <div
          data-controller="flash"
          data-flash-duration-value="2000"
          class="px-6 py-3 rounded-lg shadow-lg transform transition-all duration-500 ease-in-out
                translate-y-full opacity-0 <%= css_class %>"
        >
          <%= message %>
        </div>
      <% end %>
    </div>
    <main>
      <nav>
        
      </nav>
      <%= yield %>
    </main>
  </body>
</html>
